[Unit]
Description=My test service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/root/bin/vw-gateway.sh

[Install]
WantedBy=multi-user.target






