cmake==3.26.3
cryptography==40.0.2
paho-mqtt==1.6.1
ply==3.11
prompt-toolkit==1.0.14
protobuf==3.20.0
py==1.11.0
pycparser==2.21
pycups==2.0.1
pyfiglet==0.8.post1
pytz==2023.3
pyzk==0.9
regex==2023.3.23
tb-mqtt-client==1.4.1
thingsboard-gateway==3.2