cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
decorator==5.1.1
future==0.18.3
grpcio==1.43.0
idna==3.4
inputimeout==1.0.4
jsonpath-rw==1.4.0
mmh3==3.1.0
paho-mqtt==1.6.1
ply==3.11
prompt-toolkit==1.0.14
protobuf==3.20.0
py==1.11.0
pycparser==2.21
pycups==2.0.1
pyfiglet==0.8.post1
Pygments==2.15.1
PyInquirer==1.0.3
pytz==2023.3
PyYAML==6.0
pyzk==0.9
regex==2023.3.23
requests==2.29.0
retry==0.9.2
simplejson==3.19.1
six==1.16.0
tb-mqtt-client==1.4.1
termcolor==2.3.0
thingsboard-gateway==3.2
urllib3==1.26.15
wcwidth==0.2.6
